<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to(image_tag("logo.png"), root_path, class: "navbar-brand") %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li class="phone">客服电话：<span class="blue">80012341234</span></li>
      <li class="dropdown">
        <%= image_tag "app_down.png", class: "dropdown-toggle", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu" role="menu">
          <li class="text-center">手机APP</li>
          <li class="text-center"><img src="" /></li>
          <li class="text-center">Android</li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid bg-blue head-bar">
  <div class="container">
    <ul class="nav nav-tabs menu-top" role="tablist">
      <li class=<%= "active" if @mode.blank? %> ><%= link_to "首页", root_path %></li>
      <% cities = City.all %>
      <% cities.each do |city| %>
        <li role="presentation" class=<%= "active" if @mode == city.name %> >
          <%= link_to(city.name, city) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
