<div class="hotel_media">
  <div class="media bg-gray">
    <%= link_to image_tag(hotel.cover_image.photo(:small)), hotel, class: "media-left" if hotel.cover_image %>
    <div class="media-body">
      <div class="media-heading">
        <%= image_tag "icon_hotel.png", class: "hotel-icon" %>
        <%= link_to(hotel.name, hotel) %>  
      </div>
      <div>
        <% hotel.rate.to_i.times do %>
          <%= image_tag "icon_start.png", class: "hotel-start" %>
        <% end %>
      </div>
      <div class="col-xs-8 hotel-info">
        <div class="text-muted"><%= hotel.city.name %></div>
        <div class="text-muted"><small><%= truncate hotel.addr, length: 10, omission: '' %></small></div>
      </div>
      <div class="col-xs-4 hotel-price">
        <div class="pull-right">
          <% if hotel.price.blank? %>
            <span class="price_color">暂缺</span>
          <% else %>
            ¥<span class="c_price"><%= hotel.price %></span>起
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>