<div class="row top-image">
  <%= image_tag "food_title_bg.jpg", lazy: true %>
</div>
<div class="container">
  <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
</div>
<div class="container food-list">
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <%= image_tag "test-4.png", lazy: true %>
        <div class="caption">
          <h4>老凯里酸汤鱼(省府店)</h4>
          <p>菜系：贵州菜</p>
          <p>人均：<span class="price_color">￥80</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <%= image_tag "test-4.png", lazy: true %>
        <div class="caption">
          <h4>老凯里酸汤鱼(省府店)</h4>
          <p>菜系：贵州菜</p>
          <p>人均：<span class="price_color">￥80</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "test-5.png", lazy: true %>
        <div class="caption">
          <h4>老凯里酸汤鱼(省府店)</h4>
          <p>菜系：贵州菜</p>
          <p>人均：<span class="price_color">￥80</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "test-5.png", lazy: true %>
        <div class="caption">
          <h4>老凯里酸汤鱼(省府店)</h4>
          <p>菜系：贵州菜</p>
          <p>人均：<span class="price_color">￥80</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "test-5.png", lazy: true %>
        <div class="caption">
          <h4>老凯里酸汤鱼(省府店)</h4>
          <p>菜系：贵州菜</p>
          <p>人均：<span class="price_color">￥80</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "test-5.png", lazy: true %>
        <div class="caption">
          <h4>老凯里酸汤鱼(省府店)</h4>
          <p>菜系：贵州菜</p>
          <p>人均：<span class="price_color">￥80</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "test-5.png", lazy: true %>
        <div class="caption">
          <h4>老凯里酸汤鱼(省府店)</h4>
          <p>菜系：贵州菜</p>
          <p>人均：<span class="price_color">￥80</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "test-5.png", lazy: true %>
        <div class="caption">
          <h4>老凯里酸汤鱼(省府店)</h4>
          <p>菜系：贵州菜</p>
          <p>人均：<span class="price_color">￥80</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "test-5.png", lazy: true %>
        <div class="caption">
          <h4>老凯里酸汤鱼(省府店)</h4>
          <p>菜系：贵州菜</p>
          <p>人均：<span class="price_color">￥80</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "test-5.png", lazy: true %>
        <div class="caption">
          <h4>老凯里酸汤鱼(省府店)</h4>
          <p>菜系：贵州菜</p>
          <p>人均：<span class="price_color">￥80</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "test-5.png", lazy: true %>
        <div class="caption">
          <h4>老凯里酸汤鱼(省府店)</h4>
          <p>菜系：贵州菜</p>
          <p>人均：<span class="price_color">￥80</span></p>
        </div>
      </div>
    </div>
  </div>
</div>