<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @shop.addr %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @shop.tel %>
</p>

<p>
  <strong>Special:</strong>
  <%= @shop.special %>
</p>

<p>
  <strong>Work range:</strong>
  <%= @shop.work_range %>
</p>

<p>
  <strong>Price avg:</strong>
  <%= @shop.price_avg %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
