<div class="container">
  <div class="row mt">
    <div class="col-lg-4 col-md-5">
      <%= render "index_query" %>
    </div>
    <div class="col-lg-8 col-md-7">
      <div id="carousel-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-generic" data-slide-to="1"></li>
          <li data-target="#carousel-generic" data-slide-to="2"></li>
          <li data-target="#carousel-generic" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag "index-ad1.png" %>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <%= image_tag "index-ad2.png" %>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <%= image_tag "index-ad3.png" %>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <%= image_tag "index-ad4.png" %>
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-8">
      <!-- 热门景点 -->
      <div class="row">
        <div class="home_title">热门景点<span class="caret"></span></div>
        <div class="col-lg-4 col-md-5 tour-big">
          <%= render partial: "share/tour_big_thumbnail", locals: {tour: @tours[0]} if @tours[0] %>
        </div>
        <div class="col-lg-8 col-md-7 no-space">
          <% (1..2).each do |row_index| %>
              <% (1..3).each do |col_index| %>
                <% index = row_index * col_index %>
                <% tour = @tours[index] %>
                <div class="col-lg-4 col-md-6 padding-5 <%= 'hidden-xs hidden-sm hidden-md' if index > 3 %>"><%= render partial: "share/tour_thumbnail", locals: {tour: tour} if tour %></div>
              <% end %>  
          <% end %>
        </div>
      </div>    

      <!-- 精品酒店 -->
      <div class="row">
        <div class="home_title">精品酒店<span class="caret"></span></div>
        <% @hotels.each do |hotel| %>
          <div class="col-md-6 no-space">
            <%= render partial: "share/hotel_media", locals: {hotel: hotel} %>
          </div>
        <% end %>
      </div>

      <!-- 热门城市 -->
      <div class="row">
        <div class="home_title">热门城市<span class="caret"></span></div>
        <% @cities.each_with_index do |city, index| %>
          <div class="col-lg-4 col-md-6 no-space">
            <%= render partial: "share/city_media", locals: {city: city} %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <h4>促销特惠</h4>
      <%= image_tag "ad1.jpg", class: "ad-image" %>
      <%= image_tag "ad2.jpg", class: "ad-image" %>
      <%= image_tag "ad3.jpg", class: "ad-image" %>
      <%= image_tag "ad4.jpg", class: "ad-image" %>
      <%= image_tag "ad5.jpg", class: "ad-image" %>
      <%= image_tag "ad6.jpg", class: "ad-image" %>
    </div>
  </div>
</div>
<div class="container index-theme">
  
</div>

