<div class="row">
  <div id="carousel-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-generic" data-slide-to="1"></li>
      <li data-target="#carousel-generic" data-slide-to="2"></li>
      <li data-target="#carousel-generic" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "index-ad1.png" %>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <%= image_tag "index-ad2.png" %>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <%= image_tag "index-ad3.png" %>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <%= image_tag "index-ad4.png" %>
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only"></span>
    </a>
    <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only"></span>
    </a>
  </div>
</div>

<div class="container index-theme">
  <div class="title_line">精品主题</div>
  
  <% @categories.each_with_index do |category, index| %>
    <%= raw '<div class="row">' if index % 2 == 0 %>
      <div class="col-md-6">
        <div class="box">
          <%= link_to image_tag(category.cover_image.photo.url), category %>
        </div>
      </div>
    <%= raw '</div>' if index % 2 == 1 %>
  <% end %>
</div>
<div class="container index-theme">
  <div class="title_line">热门城市</div>
  <% @cities.each_with_index do |city, index| %>
    <%= raw '<div class="row">' if index % 3 == 0 %>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag(city.cover_image.photo.url), city, lazy: true %>
          <div class="caption">
            <p><%= city.desc %></p>
          </div>
        </div>
      </div>
    <%= raw '</div>' if index % 3 == 2 %>
  <% end %>
</div>

