<div class="row top-image">
  <%= image_tag "tour_list_title_bg.jpg", lazy: true %>
</div>
<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>
<div class="container tour_list">
	<div class="row">
		<div class="col-md-3">
			<%= image_tag "test-3.png", lazy: true %>
		</div>
		<div class="col-md-9">
			<dl>
				<dt>黄果树瀑布 <span>AAAAA</span></dt>
				<dd class="sub">中国第一瀑--黄果树瀑布</dd>
				<dd>黄果树风景区位于贵州省西南部，被中国国家地理杂志社评为"中国最美丽的地方"。</dd>
				<dd class="open">开放时间：</dd>
				<dd>旺季(3月1日~11月30日) ： 07：00~19：00</dd>
				<dd>淡季(12月1日~次年2月29日) : 07:30~19:00</dd>
				<dd class="addr">地址：贵阳市开阳县南江乡龙广村</dd>
			</dl>
		</div>	
	</div>	
	<div class="row">
		<div class="col-md-3">
			<%= image_tag "test-3.png", lazy: true %>
		</div>
		<div class="col-md-9">
			<dl>
				<dt>黄果树瀑布 <span>AAAAA</span></dt>
				<dd class="sub">中国第一瀑--黄果树瀑布</dd>
				<dd>黄果树风景区位于贵州省西南部，被中国国家地理杂志社评为"中国最美丽的地方"。</dd>
				<dd class="open">开放时间：</dd>
				<dd>旺季(3月1日~11月30日) ： 07：00~19：00</dd>
				<dd>淡季(12月1日~次年2月29日) : 07:30~19:00</dd>
				<dd class="addr">地址：贵阳市开阳县南江乡龙广村</dd>
			</dl>
		</div>	
	</div>	
	<div class="row">
		<div class="col-md-3">
			<%= image_tag "test-3.png", lazy: true %>
		</div>
		<div class="col-md-9">
			<dl>
				<dt>黄果树瀑布 <span>AAAAA</span></dt>
				<dd class="sub">中国第一瀑--黄果树瀑布</dd>
				<dd>黄果树风景区位于贵州省西南部，被中国国家地理杂志社评为"中国最美丽的地方"。</dd>
				<dd class="open">开放时间：</dd>
				<dd>旺季(3月1日~11月30日) ： 07：00~19：00</dd>
				<dd>淡季(12月1日~次年2月29日) : 07:30~19:00</dd>
				<dd class="addr">地址：贵阳市开阳县南江乡龙广村</dd>
			</dl>
		</div>	
	</div>	
</div>