<div class="row top-image">
  <%= image_tag "contant-1.png", lazy: true %>
</div>
<div class="container tour">
  <div class="title_line">山水线路</div>
  <div class="row">
    <div class="col-md-9">
      <%= image_tag "contant-1.png", lazy: true %>
    </div>
    <div class="col-md-3">
      <ul>
        <li>
          <%= image_tag "icon_tuijian.png" %>
        </li>
        <li>
          <h4>黄果树、天星桥、陡坡塘</h4>
        </li>
        <li>
          <h5>高品质一日游</h5>
        </li>
        <li>
          推荐指数
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <%= image_tag "contant-2.png", lazy: true %>
    </div>
    <div class="col-md-3">
      <ul>
        <li>
          <%= image_tag "icon_tuijian.png" %>
        </li>
        <li>
          <h4>荔波大小七孔</h4>
        </li>
        <li>
          <h5>自然风光二日游</h5>
        </li>
        <li>
          推荐指数
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <%= image_tag "contant-3.png", lazy: true %>
    </div>
    <div class="col-md-3">
      <ul>
        <li>
          <%= image_tag "icon_tuijian.png" %>
        </li>
        <li>
          <h4>花溪公园，青岩古镇，天河潭</h4>
        </li>
        <li>
          <h5>自然风光一日游</h5>
        </li>
        <li>
          推荐指数
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <%= image_tag "contant-4.png", lazy: true %>
    </div>
    <div class="col-md-3">
      <ul>
        <li>
          <%= image_tag "icon_tuijian.png" %>
        </li>
        <li>
          <h4>梵净山亚木沟</h4>
        </li>
        <li>
          <h5>自然风光、佛教文化二日游</h5>
        </li>
        <li>
          推荐指数
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
          <%= image_tag "icon_start.png" %>
        </li>
      </ul>
    </div>
  </div>
</div>
