<% content_for :heads do %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=wBIWFAbfDRVkW0Hnsd5UGmlW" data-turbolinks-track="true" ></script>
  <script type="text/javascript" src="/assets/map.js" data-turbolinks-track="true" ></script>
<% end %>

<% content_for :scripts do %>
	<%= javascript_tag do %>
    city = "<%= @city.name %>"
  <% end %>
  <%= javascript_include_tag "tours", 'data-turbolinks-track' => true %>
<% end %>

<div class="row top-image">
  <%= image_tag "tour_list_title_bg.jpg", lazy: true %>
</div>
<div class="container">
	<ol class="breadcrumb">
	  <%= render_breadcrumbs :tag => :li, :separator => "" %>
	</ol>	

	<div class="row">
		<div class="col-md-9 tour_list">
			<% @tours.each do |tour| %>
				<div class="row item">
					<div class="col-xs-4 tour_image">
						<%= link_to image_tag(tour.image_thumb, lazy: true), tour if tour.cover_image%>
					</div>
					<div class="col-xs-6 tour_info">
						<h4><%= link_to tour.title, tour %></h4>
						<h4><small><%= tour.sub_title %></small></h4>
						<div class="work_range">
							<p>开放时间：</p>
							<p class="text-muted"><%= tour.work_range %></p>	
						</div>
						<div class="addr">
							<%= image_tag "addr.png", class: "addr_img" %><span> 地址：<%= tour.addr %></span>	
						</div>
					</div>	
					<div class="col-sm-2 hidden-xs tour_price text-right">
						<% if tour.price.blank? %>
						  <h4 class="price_color">暂无门票</h4>
						<% else %>
						  <span class="price_color">￥</span>
						  <span class="price_color lead"><%= tour.price %></span>
						  <span class="price_color">元起</span>
						<% end %>
		      </div>
		      <div class="clearfix col-md-12 ticket-table">
		      	<div class="row title">
		      		<div class="col-xs-2 col-md-1">类型</div>
		      		<div class="col-xs-6 col-md-7">名字</div>
		      		<div class="col-xs-2 col-md-2">市场价</div>
		      		<div class="col-xs-2 col-md-2">贵途价</div>
		      	</div>
		      	<div class="row info">
		      		<div class="col-xs-2 col-md-1">套票</div>
		      		<div class="col-xs-6 col-md-7"><a href="#">天波杨府+包公祠+铁塔直通车</a></div>
		      		<div class="col-xs-2 col-md-2"><del class="h6 gray-light">￥120</del></div>
		      		<div class="col-xs-2 col-md-2 orange bold">￥100</div>
		      	</div>
		      	<div class="row info">
		      		<div class="col-xs-2 col-md-1">套票</div>
		      		<div class="col-xs-6 col-md-7"><a href="#">天波杨府+包公祠+铁塔直通车</a></div>
		      		<div class="col-xs-2 col-md-2"><del class="h6 gray-light">￥120</del></div>
		      		<div class="col-xs-2 col-md-2 orange bold">￥100</div>
		      	</div>
		      	<div class="row info vis">
		      		<div class="col-xs-2 col-md-1">套票</div>
		      		<div class="col-xs-6 col-md-7"><a href="#">天波杨府+包公祠+铁塔直通车</a></div>
		      		<div class="col-xs-2 col-md-2"><del class="h6 gray-light">￥120</del></div>
		      		<div class="col-xs-2 col-md-2 orange bold">￥100</div>
		      	</div>
		      	<div class="row info vis">
		      		<div class="col-xs-2 col-md-1">套票</div>
		      		<div class="col-xs-6 col-md-7"><a href="#">天波杨府+包公祠+铁塔直通车</a></div>
		      		<div class="col-xs-2 col-md-2"><del class="h6 gray-light">￥120</del></div>
		      		<div class="col-xs-2 col-md-2 orange bold">￥100</div>
		      	</div>
					</div>
					<div class="clearfix col-md-12 text-right">
						<a class="btn-ticket-more">查看更多<span class="caret"></span></a>
					</div>
				</div>
			<% end %>
			<div class="apple_pagination">
				<%= will_paginate @tours, class: "text-center" %>
			</div>
		</div>
		<div class="col-md-3 hidden-sm hidden-xs">
			<div id="tour-list-map" class="col-md-12">
			</div>
			<div class="col-md-12 tour_hotels">
				<%= render partial: "share/relate_hotels" %>	
			</div>
		</div>
	</div>
</div>
