<div class="row top-image">
	<%= image_tag "index-ad2.png", lazy: true %>
</div>
<div class="container city">
	<div class="title_line">城市介绍</div>
	<div class="row info">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-6">
					<%= image_tag "city1.png", size: "184x277", lazy: true %><br/><br/>
					<%= image_tag "city3.png", size: "184x129", lazy: true %>
				</div>
				<div class="col-md-6">
					<%= image_tag "city2.png", size: "184x129", lazy: true %><br/><br/>
					<%= image_tag "city4.png", size: "184x277", lazy: true %>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;贵阳市，贵州省省会，是贵州省的政治、经济、文化、科教、交通中心和西南地区重要的交通通信枢纽、工业基地及商贸旅游服务中心。“贵阳”因位于境内贵山之南而得名，已有400多年历史。古代贵阳盛产竹子，以制作乐器“筑”而闻名，故简称“筑”，也称“金筑”。<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;贵阳风光旖旎，是一座“山中有城，城中有山，绿带环绕，森林围城，城在林中，林在城中”的具有高原特色的现代化都市，中国首个国家森林城市、循环经济试点城市。以温度适宜、湿度适中、风速有利、紫外线辐射低、空气清洁、水质优良、海拔适宜、夏季低耗能等气候优势，荣登“中国十大避暑旅游城市”榜首，被中国气象学会授予“中国避暑之都”称号。<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;2014年国务院批复设立第八个国家级新区贵安新区，该新区规划定位为中国内陆开放型经济示范区、中国西部重要的经济增长极和生态文明示范区。<a href="#">更多详情</a>
			</p>	
		</div>	
	</div>
	<div class="title_line">推荐景点</div>
	<div class="row tour">
      <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "city-tour-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>南江大峡谷</h4>
          <p>贵阳市，贵州省省会，是贵州省的政治、经济、文化、科教、交通中心和西南地图重要的叫通信枢纽、工业基地及商贸旅游服务中心。</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "city-tour-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>南江大峡谷</h4>
          <p>贵阳市，贵州省省会，是贵州省的政治、经济、文化、科教、交通中心和西南地图重要的叫通信枢纽、工业基地及商贸旅游服务中心。</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "city-tour-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>南江大峡谷</h4>
          <p>贵阳市，贵州省省会，是贵州省的政治、经济、文化、科教、交通中心和西南地图重要的叫通信枢纽、工业基地及商贸旅游服务中心。</p>
        </div>
      </div>
    </div>
  </div> 
  <div class="row tour">
      <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "city-tour-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>南江大峡谷</h4>
          <p>贵阳市，贵州省省会，是贵州省的政治、经济、文化、科教、交通中心和西南地图重要的叫通信枢纽、工业基地及商贸旅游服务中心。</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "city-tour-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>南江大峡谷</h4>
          <p>贵阳市，贵州省省会，是贵州省的政治、经济、文化、科教、交通中心和西南地图重要的叫通信枢纽、工业基地及商贸旅游服务中心。</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "city-tour-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>南江大峡谷</h4>
          <p>贵阳市，贵州省省会，是贵州省的政治、经济、文化、科教、交通中心和西南地图重要的叫通信枢纽、工业基地及商贸旅游服务中心。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row more">
  	更多景点
  </div> 
  <div class="title_line">精品酒店</div>
  <div class="row hotel">
      <div class="col-md-3 left">
      <div class="thumbnail">
        <%= image_tag "city-hotel-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>贵阳天怡豪生大酒店</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3 center">
      <div class="thumbnail">
        <%= image_tag "city-hotel-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>贵阳天怡豪生大酒店</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3 center">
      <div class="thumbnail">
        <%= image_tag "city-hotel-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>贵阳天怡豪生大酒店</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3 right">
      <div class="thumbnail">
        <%= image_tag "city-hotel-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>贵阳天怡豪生大酒店</h4>
        </div>
      </div>
    </div>
  </div> 
  <div class="row more">
  	更多酒店
  </div> 
  <div class="title_line">特色美食</div>
  <div class="row hotel">
      <div class="col-md-3 left">
      <div class="thumbnail">
        <%= image_tag "city-hotel-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>金牌罗记旺汤面</h4>
        	<p>菜系：面条，小吃</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 center">
      <div class="thumbnail">
        <%= image_tag "city-hotel-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>老凯里酸汤鱼(省府店)</h4>
        	<p>菜系：贵州菜</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 center">
      <div class="thumbnail">
        <%= image_tag "city-hotel-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>花溪王记牛肉粉(都司路店)</h4>
        	<p>菜系：贵州菜</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 right">
      <div class="thumbnail">
        <%= image_tag "city-hotel-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>留一手特色烤鱼(青云路店)</h4>
        	<p>菜系：烧烤</p>
        </div>
      </div>
    </div>
  </div> 
  <div class="row more">
  	更多美食
  </div> 
</div>
