<div class="row top-image">
  <%= image_tag @city.banner_image.photo.url, lazy: true if @city.banner_image %>
</div>
<div class="container city">
	<div class="title_line">城市介绍</div>
	<div class="row info">
		<div class="col-md-4">
			<div class="row">
        <% unless @info_images.blank? %>
          <div class="col-md-6">
            <%= image_tag @info_images[0].photo.url, size: "184x277", lazy: true %><br/><br/>
            <%= image_tag @info_images[1].photo.url, size: "184x129", lazy: true %>
          </div>
          <div class="col-md-6">
            <%= image_tag @info_images[2].photo.url, size: "184x129", lazy: true %><br/><br/>
            <%= image_tag @info_images[3].photo.url, size: "184x277", lazy: true %>
          </div>
        <% end %>
			</div>
		</div>
		<div class="col-md-8">
        <div class="row">
          <%= raw @city.desc %>
          <div class="clearfix">
            <a href="#">更多详情</a>
          </div>
        </div>
		</div>	
	</div>
	<div class="title_line">推荐景点</div>
	<div class="row tour">
    <% (0..2).each do |index| %>
      <% if @tours[index] %>
        <% tour = @tours[index] %>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= link_to(image_tag(tour.image_large), tour , lazy: true) %>
            <div class="caption">
              <h4><%= tour.title %></h4>
              <p><%= tour.sub_title %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if @tours.size > 3 %>
    <div class="row tour">
      <% (3..5).each do |index| %>
        <% if @tours[index] %>
          <% tour = @tours[index] %>
          <div class="col-md-4">
            <div class="thumbnail">
              <%= link_to(image_tag(tour.image_large), tour , lazy: true) %>
              <div class="caption">
                <h4><%= tour.title %></h4>
                <p><%= tour.sub_title %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if @tours.size > 6 %>
    <div class="row more">
    	更多景点
    </div> 
  <% end %>
  <div class="title_line">精品酒店</div>
  <div class="row hotel">
    <% (0..3).each do |index| %>
      <% if @hotels[index] %>
        <% hotel = @hotels[index] %>
        <div class="col-md-3 col-xs-6">
          <div class="thumbnail">
            <%= link_to(image_tag(hotel.image_large), hotel , lazy: true) %>
            <div class="caption">
              <h4><%= hotel.name %></h4>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if @tours.size > 4 %>
    <div class="row more">
      更多景点
    </div> 
  <% end %>

  <div class="title_line">特色美食</div>
  <div class="row hotel">
      <div class="col-md-3 left">
      <div class="thumbnail">
        <%= image_tag "city-hotel-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>金牌罗记旺汤面</h4>
        	<p>菜系：面条，小吃</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 center">
      <div class="thumbnail">
        <%= image_tag "city-hotel-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>老凯里酸汤鱼(省府店)</h4>
        	<p>菜系：贵州菜</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 center">
      <div class="thumbnail">
        <%= image_tag "city-hotel-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>花溪王记牛肉粉(都司路店)</h4>
        	<p>菜系：贵州菜</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 right">
      <div class="thumbnail">
        <%= image_tag "city-hotel-1.png", alt: "贵阳", lazy: true %> 
        <div class="caption">
        	<h4>留一手特色烤鱼(青云路店)</h4>
        	<p>菜系：烧烤</p>
        </div>
      </div>
    </div>
  </div> 
  <div class="row more">
  	更多美食
  </div> 
</div>
