<div class="row top-image">
  <%= image_tag @city.banner_image.photo.url, lazy: true if @city.banner_image %>
</div>
<div class="container city">
	<div class="title_line">城市介绍</div>
	<div class="row info">
    <div class="col-md-4">
      <div class="row">
        <% unless @info_images.blank? %>    
        <div class="col-md-6">
          <ul>
            <li>
              <%= image_tag @info_images[0].photo.url, lazy: true %></li>
            <li>
              <%= image_tag @info_images[1].photo.url, class: "pt", lazy: true %></li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>
              <%= image_tag @info_images[2].photo.url, lazy: true %></li>
            <li>
              <%= image_tag @info_images[3].photo.url, class: "pt", lazy: true %></li>
          </ul>
        </div>
        <% end %></div>
    </div>
		<div class="col-md-8">
        <div class="row">
          <%= @city.desc.html_safe if @city.desc %>
          <div class="clearfix">
            <%= link_to ("更多详情" + content_tag(:span, "", class: "glyphicon glyphicon-expand", "aria-hidden" => true)).html_safe , info_city_path(@city) %>
          </div>
        </div>
		</div>	
	</div>
	<div class="title_line">推荐景点</div>
	<div class="row tour">
    <% (0..2).each do |index| %>
      <% if @tours[index] %>
        <% tour = @tours[index] %>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= link_to(image_tag(tour.image_large), tour , lazy: true) %>
            <div class="caption">
              <h4><%= tour.title %></h4>
              <p><%= tour.sub_title %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if @tours.size > 3 %>
    <div class="row tour">
      <% (3..5).each do |index| %>
        <% if @tours[index] %>
          <% tour = @tours[index] %>
          <div class="col-md-4">
            <div class="thumbnail">
              <%= link_to(image_tag(tour.image_large), tour , lazy: true) %>
              <div class="caption">
                <h4><%= tour.title %></h4>
                <p><%= tour.sub_title %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @tours.size >= 6 %>
    <div class="row more">
      <%= link_to(("更多景点"+ content_tag(:span, "", class: "glyphicon glyphicon-expand", "aria-hidden" => true)).html_safe, city_tours_path(@city)) %>
    </div>
  <% end %>

  <div class="title_line">精品酒店</div>
  <div class="row hotel">
    <% (0..3).each do |index| %>
      <% if @hotels[index] %>
        <% hotel = @hotels[index] %>
        <div class="col-md-3 col-xs-6">
          <div class="thumbnail">
            <%= link_to(image_tag(hotel.image_large), hotel , lazy: true) %>
            <div class="caption">
              <h4><%= hotel.name %></h4>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if @tours.size >= 4 %>
    <div class="row more">
      <%= link_to(("更多酒店"+ content_tag(:span, "", class: "glyphicon glyphicon-expand", "aria-hidden" => true)).html_safe, city_hotels_path(@city)) %>
    </div> 
  <% end %>

  <div class="title_line">特色美食</div>
  <div class="row hotel">
    <% (0..3).each do |index| %>
      <% if @shops[index] %>
        <% shop = @shops[index] %>
        <div class="col-md-3">
          <div class="thumbnail">
            <%= link_to(image_tag(shop.cover_image.photo.url(:large)), shop, lazy: true) %>
            <h4><%= shop.name %></h4>
            <p>商家地址：<%= shop.addr %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div> 
  <% if @shops.size >= 4 %>
    <div class="row more">
      <%= link_to(("更多美食"+ content_tag(:span, "", class: "glyphicon glyphicon-expand", "aria-hidden" => true)).html_safe, city_shops_path(@city)) %>
    </div> 
  <% end %>
</div>
