<div class="row top-image">
  <%= image_tag @category.banner_image.photo.url, lazy: true %>
</div>
<div class="container category">
  <div class="title_line">精品线路</div>

  <% @pomotions.each do |pomotion| %>
    <div class="row">
      <div class="col-md-9">
        <%= link_to image_tag(pomotion.cover_image.photo.url), [@category, pomotion], lazy: true %>
      </div>
      <div class="col-md-3">
        <ul>
          <li class="first">
            <%= image_tag "icon_tuijian.png" %>
          </li>
          <li>
            <h4><%= pomotion.title %></h4>
          </li>
          <li>
            <h5><%= pomotion.sub_title %></h5>
          </li>
          <li>
            推荐指数
            <% pomotion.rate.to_i.times do %>
              <%= image_tag "icon_start.png" %>  
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
