<div class="row top-image">
  <%= image_tag "hotel_title_bg.png", lazy: true %>
</div>
<div class="container hotel">
  <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
  <% @hotels.each_with_index do |hotel, index| %>
    <div class="row item <% if index == 0 %>top<% end %>">
      <div class="col-md-4">
        <%= image_tag hotel.cover_image.photo.url(:product), lazy: true if hotel.cover_image %>
      </div>
      <div class="col-md-6">
        <ul>
          <li>
            <h3><%= hotel.name %></h3>
          </li>
          <li class="col-star">
            <%= image_tag "icon_start.png" %>
            <%= image_tag "icon_start.png" %>
            <%= image_tag "icon_start.png" %>
            <%= image_tag "icon_start.png" %>
            <%= image_tag "icon_start.png" %>
          </li>
          <li>
            电话：<%= hotel.tel %>
          </li>
          <li>
            地址：<%= hotel.addr %>
          </li>
        </ul> 
      </div> 
      <div class="col-md-2">
        <span class="color">￥</span>
        <span class="color size">634</span>
        <span class="color">元</span>
        <span>起</span>
      </div>
    </div>
  <% end %>
</div>