<div class="row top-image">
  <%= image_tag "hotel_title_bg.png", lazy: true %>
</div>
<div class="container">
  <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>  
</div>
<div class="container hotel">
  <% @hotels.each_with_index do |hotel, index| %>
    <div class="row item <% if index == 0 %>top<% end %>">
      <div class="col-xs-4 hotel_image">
        <%= link_to image_tag(hotel.cover_image.photo.url(:product), lazy: true), hotel if hotel.cover_image %>
      </div>
      <div class="col-xs-6 hotel_info">
        <ul>
          <li>
            <h3><%= link_to hotel.name, hotel %></h3>
          </li>
          <li class="col-star">
            <% hotel.rate.to_i.times do %>
              <%= image_tag "icon_start.png" %>
            <% end %>
          </li>
          <li>
            电话：<%= hotel.tel %>
          </li>
          <li>
            地址：<%= hotel.addr %>
          </li>
        </ul> 
      </div> 
      <div class="col-xs-2 hotel_price">
        <span class="color">￥</span>
        <span class="color size"><%= hotel.price %></span>
        <span class="color">元</span>
        <span>起</span>
      </div>
    </div>
  <% end %>
</div>